# Lab 4 Data Cleaning

#### Navya Mangipudi, Big Data & Analytics, 10-29-19

## Introduction

In this lab, I will be exploring datasets and seeing which ones I want to clean based on information I find through .info() and .columns. After that, I will be cleaning columns of the dataset and implementing methods of cleaning learned in class and throygh other resources to make the sets better for potential data modeling/analysis.

## Dataset Exploration

In [1275]:
#Here, I am importing useful packages that I may potentially use later in the lab. 
import math as m
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [1276]:
# Here, I am opening all of the potential files for data cleaning available. This includes the files with data 
#for sales, candy responses and attendance. 

dfs = pd.read_csv("sales.csv", encoding = 'latin1')

dfc = pd.read_csv("Candy_Responses.csv", encoding = 'latin1')

dfa = pd.read_csv("attendance.csv", encoding = 'latin1')

### Candy Data Subsection:

In [1277]:
list(dfc.columns)

['Timestamp',
 'Are you going actually going trick or treating yourself?',
 'Your gender:',
 'How old are you?',
 'Which country do you live in?',
 'Which state, province, county do you live in?',
 ' [100 Grand Bar]',
 ' [Anonymous brown globs that come in black and orange wrappers]',
 ' [Any full-sized candy bar]',
 ' [Black Jacks]',
 ' [Bonkers (the candy)]',
 ' [Bonkers (the board game)]',
 ' [Bottle Caps]',
 " [Box'o'Raisins]",
 ' [Broken glow stick]',
 ' [Butterfinger]',
 ' [Cadbury Creme Eggs]',
 ' [Candy Corn]',
 ' [Candy that is clearly just the stuff given out for free at restaurants]',
 ' [Caramellos]',
 ' [Cash, or other forms of legal tender]',
 ' [Chardonnay]',
 ' [Chick-o-Sticks (we donÍt know what that is)]',
 ' [Chiclets]',
 ' [Coffee Crisp]',
 ' [Creepy Religious comics/Chick Tracts]',
 ' [Dental paraphenalia]',
 ' [Dots]',
 ' [Dove Bars]',
 ' [Fuzzy Peaches]',
 ' [Generic Brand Acetaminophen]',
 ' [Glow sticks]',
 ' [Goo Goo Clusters]',
 " [Good N' Plenty]",
 ' [Gum from baseball cards]',
 ' [Gummy Bears straight up]',
 ' [Hard Candy]',
 ' [Healthy Fruit]',
 ' [Heath Bar]',
 " [Hershey's Dark Chocolate]",
 ' [HersheyÍs Milk Chocolate]',
 " [Hershey's Kisses]",
 ' [Hugs (actual physical hugs)]',
 ' [Jolly Rancher (bad flavor)]',
 ' [Jolly Ranchers (good flavor)]',
 ' [JoyJoy (Mit Iodine!)]',
 ' [Junior Mints]',
 ' [Senior Mints]',
 ' [Kale smoothie]',
 ' [Kinder Happy Hippo]',
 ' [Kit Kat]',
 ' [LaffyTaffy]',
 ' [LemonHeads]',
 ' [Licorice (not black)]',
 ' [Licorice (yes black)]',
 ' [Lindt Truffle]',
 ' [Lollipops]',
 ' [Mars]',
 ' [Mary Janes]',
 ' [Maynards]',
 ' [Mike and Ike]',
 ' [Milk Duds]',
 ' [Milky Way]',
 ' [Regular M&Ms]',
 ' [Peanut M&MÍs]',
 " [Blue M&M's]",
 " [Red M&M's]",
 " [Third Party M&M's]",
 ' [Minibags of chips]',
 ' [Mint Kisses]',
 ' [Mint Juleps]',
 ' [Mr. Goodbar]',
 ' [Necco Wafers]',
 ' [Nerds]',
 ' [Nestle Crunch]',
 " [Now'n'Laters]",
 ' [Peeps]',
 ' [Pencils]',
 ' [Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)]',
 ' [Pixy Stix]',
 ' [ReeseÍs Peanut Butter Cups]',
 " [Reese's Pieces]",
 ' [Reggie Jackson Bar]',
 ' [Rolos]',
 ' [Skittles]',
 ' [Smarties (American)]',
 ' [Smarties (Commonwealth)]',
 ' [Snickers]',
 ' [Sourpatch Kids (i.e. abominations of nature)]',
 ' [Spotted Dick]',
 ' [Starburst]',
 ' [Sweet Tarts]',
 ' [Swedish Fish]',
 ' [Sweetums (a friend to diabetes)]',
 ' [Tic Tacs]',
 ' [Those odd marshmallow circus peanut things]',
 ' [Three Musketeers]',
 ' [Tolberone something or other]',
 ' [Trail Mix]',
 ' [Twix]',
 ' [Vials of pure high fructose corn syrup, for main-lining into your vein]',
 ' [Vicodin]',
 ' [Whatchamacallit Bars]',
 ' [White Bread]',
 ' [Whole Wheat anything]',
 ' [York Peppermint Patties]',
 'Please list any items not included above that give you JOY.',
 'Please list any items not included above that give you DESPAIR.',
 'Please leave any witty, snarky or thoughtful remarks or comments regarding your choices.',
 'Guess the number of mints in my hand.',
 'Betty or Veronica?',
 '"That dress* that went viral a few years back - when I first saw it, it was ________"',
 'What is your favourite font?',
 'Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]',
 'Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Beyonc_]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Bieber]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]',
 'Which day do you prefer, Friday or Sunday?',
 'Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?',
 'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).',
 ' [York Peppermint Patties] Ignore']

In [1278]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Columns: 123 entries, Timestamp to  [York Peppermint Patties] Ignore
dtypes: float64(1), object(122)
memory usage: 1.2+ MB

In [1279]:
dfc.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyonc_],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,10/24/16 5:09,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,10/24/16 5:09,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,10/24/16 5:13,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,10/24/16 5:14,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,10/24/16 5:14,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

### Attendance Data Subsection:

In [1280]:
list(dfa.columns)

['Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16']

In [1281]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 17 columns):
Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08    57 non-null object
Unnamed: 1                                                                                                                                                                       55 non-null object
Unnamed: 2                                                                                                                                                                       52 non-null object
Unnamed: 3                                                                                                                                                                       54 non-null object
Unnamed: 4                                                                                                                                                                       52 non-null object
Unnamed: 5                                                                                                                                                                       54 non-null object
Unnamed: 6                                                                                                                                                                       52 non-null object
Unnamed: 7                                                                                                                                                                       54 non-null object
Unnamed: 8                                                                                                                                                                       52 non-null object
Unnamed: 9                                                                                                                                                                       55 non-null object
Unnamed: 10                                                                                                                                                                      52 non-null object
Unnamed: 11                                                                                                                                                                      54 non-null object
Unnamed: 12                                                                                                                                                                      52 non-null object
Unnamed: 13                                                                                                                                                                      55 non-null object
Unnamed: 14                                                                                                                                                                      52 non-null object
Unnamed: 15                                                                                                                                                                      54 non-null object
Unnamed: 16                                                                                                                                                                      52 non-null object
dtypes: object(17)
memory usage: 9.1+ KB

In [1282]:
dfa.head()

,"Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,"Total elementary, secondary, and combined elem...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elementary schools,NaN,NaN,NaN,Secondary schools,NaN,NaN,NaN
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
2,1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
3,United States ........,93.1,(0.22),6.6,(0.02),180,(0.1),"1,193",(3.1),94.0,(0.27),6.7,(0.02),91.1,(0.43),6.6,(0.04)
4,Alabama .................,93.8,(1.24),7.0,(0.07),180,(0.8),"1,267",(12.3),93.8,(1.84),7.0,(0.08),94.6,(0.38),7.1,(0.17)

### Sales Data Subsection:

In [1283]:
list(dfs.columns)

['Unnamed: 0',
 'event_id',
 'primary_act_id',
 'secondary_act_id',
 'purch_party_lkup_id',
 'event_name',
 'primary_act_name',
 'secondary_act_name',
 'major_cat_name',
 'minor_cat_name',
 'la_event_type_cat',
 'event_disp_name',
 'ticket_text',
 'tickets_purchased_qty',
 'trans_face_val_amt',
 'delivery_type_cd',
 'event_date_time',
 'event_dt',
 'presale_dt',
 'onsale_dt',
 'sales_ord_create_dttm',
 'sales_ord_tran_dt',
 'print_dt',
 'timezn_nm',
 'venue_city',
 'venue_state',
 'venue_postal_cd_sgmt_1',
 'sales_platform_cd',
 'print_flg',
 'la_valid_tkt_event_flg',
 'fin_mkt_nm',
 'web_session_cookie_val',
 'gndr_cd',
 'age_yr',
 'income_amt',
 'edu_val',
 'edu_1st_indv_val',
 'edu_2nd_indv_val',
 'adults_in_hh_num',
 'married_ind',
 'child_present_ind',
 'home_owner_ind',
 'occpn_val',
 'occpn_1st_val',
 'occpn_2nd_val',
 'dist_to_ven']

In [1284]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 46 columns):
Unnamed: 0                5000 non-null int64
event_id                  5000 non-null object
primary_act_id            5000 non-null object
secondary_act_id          5000 non-null object
purch_party_lkup_id       5000 non-null object
event_name                5000 non-null object
primary_act_name          5000 non-null object
secondary_act_name        1586 non-null object
major_cat_name            5000 non-null object
minor_cat_name            5000 non-null object
la_event_type_cat         5000 non-null object
event_disp_name           5000 non-null object
ticket_text               5000 non-null object
tickets_purchased_qty     5000 non-null int64
trans_face_val_amt        5000 non-null float64
delivery_type_cd          5000 non-null object
event_date_time           5000 non-null object
event_dt                  5000 non-null object
presale_dt                2108 non-null object
onsale_dt                 4899 non-null object
sales_ord_create_dttm     4996 non-null object
sales_ord_tran_dt         5000 non-null object
print_dt                  4576 non-null object
timezn_nm                 5000 non-null object
venue_city                5000 non-null object
venue_state               5000 non-null object
venue_postal_cd_sgmt_1    5000 non-null object
sales_platform_cd         2578 non-null object
print_flg                 5000 non-null object
la_valid_tkt_event_flg    5000 non-null object
fin_mkt_nm                5000 non-null object
web_session_cookie_val    5000 non-null object
gndr_cd                   177 non-null object
age_yr                    168 non-null float64
income_amt                154 non-null float64
edu_val                   139 non-null object
edu_1st_indv_val          112 non-null object
edu_2nd_indv_val          86 non-null object
adults_in_hh_num          176 non-null float64
married_ind               157 non-null float64
child_present_ind         130 non-null float64
home_owner_ind            138 non-null float64
occpn_val                 79 non-null object
occpn_1st_val             77 non-null object
occpn_2nd_val             63 non-null object
dist_to_ven               323 non-null float64
dtypes: float64(8), int64(2), object(36)
memory usage: 1.8+ MB

In [1285]:
dfs.head()

,Unnamed: 0,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,...,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
0,1,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
2,3,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Introduction 2:

In this lab, I have decided to use the Boing-Boing candy data and the sales data due as a result of the information acquired above. By doing df.column for all of the different data sets, I was able to find out the names of the indivdual columns and gain an insight to the data. From this function, I was able to find out the contents of the data and, I found that attendance did not have any column names. I also used .head() in order to glimpse the first few rows of data. 

I decided to clean attendance and candy data, primarily due to the results from the function .head(). When I used the head function on sales data, i noticed that the majority of data in the columns was either NaN, strings of letters and numbers that were difficult to decipher OR, made no sense under the column they were put in. For example, under the column "event_name", one of the resulting data entries was "Xfinity Center" or "Mansfield". 

In order to have an easier time cleaning data, I decided to exclude sales data, leaving me with the attendance and Boing-Boing Candy data to clean for the lab.

## Dataset Preparation 1 - Boing-Boing Candy Data

In [1286]:
dfc.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyonc_],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,10/24/16 5:09,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,10/24/16 5:09,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,10/24/16 5:13,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,10/24/16 5:14,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,10/24/16 5:14,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

In [1287]:
country_list = dfc["Which country do you live in?"].unique()
country_list

array(['Canada', 'usa', 'US', 'USA', 'UK', 'United States of America',
       'uSA', 'Japan', 'united states', 'USA ', 'canada', 'United States',
       'us', 'france', 'USSA', 'United States of America ', 'U.S.A.',
       'A tropical island south of the equator', 'england', 'uk',
       'Switzerland', 'Murica', 'United Kingdom', 'Neverland', 'USA!',
       'this one',
       "USA (I think but it's an election year so who can really tell)",
       'Korea', '51', 'Usa', nan, 'U.S.', 'Us', 'America ',
       'Units States', 'belgium', 'croatia', 'United states', 'Portugal',
       'England', 'USA USA USA', 'the best one - usa', 'USA! USA! USA!',
       '47', 'united states ', 'Cascadia', 'espaÐa', 'u.s.',
       "there isn't one for old men", 'United States ', 'Panama',
       'one of the best ones', 'The Yoo Ess of Aaayyyyyy',
       'United Kindom', 'France', 'America', 'Australia', 'hungary',
       'united states of america', 'UK ', 'Austria', 'Somewhere',
       'New Zealand', '54', 'Germany', 'Mexico', '44', 'Brasil',
       "god's country", 'South Korea', 'USA!!!!!!', 'Philippines',
       ' United States', 'EUA', 'USA! USA!', '45', 'sweden', 'Canada ',
       'United Sates', "Sub-Canadian North America... 'Merica",
       'The Netherlands', 'Finland', 'Trumpistan', 'U.s.', 'Merica',
       'China', 'germany', 'See above', 'UNited States', 'kenya', '30',
       'Netherlands', 'The republic of Cascadia ', 'United Stetes',
       'america', 'Not the USA or Canada', 'USA USA USA USA',
       'New Zealand ', 'United  States of America', 'netherlands',
       'Denial', 'United State'], dtype=object)

In [1288]:
#I am just converting all strings into lowercase so that 


dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.lower()
dfc["Which country do you live in?"].unique()

array(['canada', 'usa', 'us', 'uk', 'united states of america', 'japan',
       'united states', 'usa ', 'france', 'ussa',
       'united states of america ', 'u.s.a.',
       'a tropical island south of the equator', 'england', 'switzerland',
       'murica', 'united kingdom', 'neverland', 'usa!', 'this one',
       "usa (i think but it's an election year so who can really tell)",
       'korea', '51', nan, 'u.s.', 'america ', 'units states', 'belgium',
       'croatia', 'portugal', 'usa usa usa', 'the best one - usa',
       'usa! usa! usa!', '47', 'united states ', 'cascadia', 'espaða',
       "there isn't one for old men", 'panama', 'one of the best ones',
       'the yoo ess of aaayyyyyy', 'united kindom', 'america',
       'australia', 'hungary', 'uk ', 'austria', 'somewhere',
       'new zealand', '54', 'germany', 'mexico', '44', 'brasil',
       "god's country", 'south korea', 'usa!!!!!!', 'philippines',
       ' united states', 'eua', 'usa! usa!', '45', 'sweden', 'canada ',
       'united sates', "sub-canadian north america... 'merica",
       'the netherlands', 'finland', 'trumpistan', 'merica', 'china',
       'see above', 'kenya', '30', 'netherlands',
       'the republic of cascadia ', 'united stetes',
       'not the usa or canada', 'usa usa usa usa', 'new zealand ',
       'united  states of america', 'denial', 'united state'],
      dtype=object)

In [1289]:
#Here, I am just removing all blank spaces in the data just to make my life a whole lot easier and to make what comes
#less difficult. 

dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.strip()

In [1290]:
##Here, I am equating all string values with specific sub-strings (so that i dont have to type the whole string
#when using the .replace function). I am basically taking the easy route and locating all string values with certain
#short string sequences and then replacing the whole string with what the actual value should be. In this case, I chose
#their corresponding alpha-3 codes for each country because I think that makes the data look neat and is fairly 
#recognizable and, the 3 digit codes are less confusing than the 2 digit codes which can be confused for states. 

dfc.loc[dfc['Which country do you live in?'].str.contains('usa', na=False), 'Which country do you live in?'] = 'USA'
dfc.loc[dfc['Which country do you live in?'].str.contains('america', na=False), 'Which country do you live in?'] = 'USA'
dfc.loc[dfc['Which country do you live in?'].str.contains('states', na=False), 'Which country do you live in?'] = 'USA'
dfc.loc[dfc['Which country do you live in?'].str.contains('usa', na=False), 'Which country do you live in?'] = 'USA'
dfc.loc[dfc['Which country do you live in?'].str.contains('korea', na=False), 'Which country do you live in?'] = 'kr'
dfc.loc[dfc['Which country do you live in?'].str.contains('zealand', na=False), 'Which country do you live in?'] = 'nz'
dfc.loc[dfc['Which country do you live in?'].str.contains('canada', na=False), 'Which country do you live in?'] = 'can'
dfc.loc[dfc['Which country do you live in?'].str.contains('netherlands', na=False), 'Which country do you live in?'] = 'nld'

In [1291]:
#Here, I am just replacing values that I cannot use the .contains function for with the corresponding alpha-3 
#sequence.

dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('the yoo ess of aaayyyyyy', 'USA')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('ussa', 'USA')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('u.s.a.', 'USA')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('united stetes', 'USA')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('united state', 'USA')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('u.s.', 'USA')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('united sates', 'USA')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('merica', 'USA')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('us', 'USA')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('usaa', 'USA')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('murica', 'USA')

dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('united kingdom', 'gbr')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('united kindom', 'gbr')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('england', 'gbr')

dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('japan', 'jpn')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('panama', 'pan')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('mexico', 'mex')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('france', 'fra')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('switzerland', 'che')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('belgium', 'bel')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('croatia', 'hrv')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('china', 'chn')

dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('germany', 'deu')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('philippines', 'phl')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('sweden', 'swe')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('finland', 'fin')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('kenya', 'ken')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('portugal', 'prt')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('brasil', 'bra')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('hungary', 'hun')

In [1292]:
#Check of the previous lines of code using unique to easily find all unique values within column.

dfc["Which country do you live in?"].unique()

array(['can', 'USA', 'uk', 'jpn', 'fra',
       'a tropical island south of the equator', 'gbr', 'che',
       'neverland', 'this one', 'kr', '51', nan, 'bel', 'hrv', 'prt',
       '47', 'cascadia', 'espaða', "there isn't one for old men", 'pan',
       'one of the best ones', 'aUSAtralia', 'hun', 'aUSAtria',
       'somewhere', 'nz', '54', 'deu', 'mex', '44', 'bra',
       "god's country", 'phl', 'eua', '45', 'swe', 'nld', 'fin',
       'trumpistan', 'chn', 'see above', 'ken', '30',
       'the republic of cascadia', 'denial'], dtype=object)

In [1293]:
#Here, I am just replacing a few left over strings which I did not see initially. The way that I knew "espaöa" meant 
#"spain" is because of four painful years of high school spanish which have now finally come of use. I replaced 
#all of these country names with their alpha-3 codes as usual.

dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('aUSAtralia', 'aus')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('aUSAtria', 'aut')
dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.replace('espaða', 'esp')

In [1294]:
#Here, I am equating all string values with specific sub-strings (so that i dont have to type the whole string
#when using the .replace function). I am basically taking the easy route and locating all string values with certain
#short string sequences and then replacing the whole string with what the actual value should be. In this case, I chose
#N/A since I don't want to remove the whole row of data and instead want to just show that that specific question 
#only did not get a satisfactory answer. 

dfc.loc[dfc['Which country do you live in?'].str.contains('tropical', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('best', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('somewhere', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('cascadia', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('eua', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('see above', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('neverland', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('god', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('men', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('trumpistan', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('denial', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('this', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('nan', na=False), 'Which country do you live in?'] = 'n/a'

dfc['Which country do you live in?'].unique()

array(['can', 'USA', 'uk', 'jpn', 'fra', 'n/a', 'gbr', 'che', 'kr', '51',
       nan, 'bel', 'hrv', 'prt', '47', 'esp', 'pan', 'aus', 'hun', 'aut',
       'nz', '54', 'deu', 'mex', '44', 'bra', 'phl', '45', 'swe', 'nld',
       'fin', 'chn', 'ken', '30'], dtype=object)

In [1295]:
#From what is seen above, there are still some unneccessary numbers that I am unable to decipher in the context of
#this column. I have elected to label them as 'N/A' instead of removing the whole row again. Unique to check that 
#the code has in fact functioned in the way intended. 

dfc.loc[dfc['Which country do you live in?'].str.contains('44', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('47', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('54', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('45', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('44', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('30', na=False), 'Which country do you live in?'] = 'n/a'
dfc.loc[dfc['Which country do you live in?'].str.contains('51', na=False), 'Which country do you live in?'] = 'n/a'

dfc['Which country do you live in?'].unique()

array(['can', 'USA', 'uk', 'jpn', 'fra', 'n/a', 'gbr', 'che', 'kr', nan,
       'bel', 'hrv', 'prt', 'esp', 'pan', 'aus', 'hun', 'aut', 'nz',
       'deu', 'mex', 'bra', 'phl', 'swe', 'nld', 'fin', 'chn', 'ken'],
      dtype=object)

In [1296]:
#Here, i recapitalized things after I finished making the country names cleaner because that is traditionally how
#alpha-3 is written. Using .uniue instead of info or head in order to check that I have correctly done everything.

dfc["Which country do you live in?"] = dfc["Which country do you live in?"].str.upper()

dfc['Which country do you live in?'].unique()

array(['CAN', 'USA', 'UK', 'JPN', 'FRA', 'N/A', 'GBR', 'CHE', 'KR', nan,
       'BEL', 'HRV', 'PRT', 'ESP', 'PAN', 'AUS', 'HUN', 'AUT', 'NZ',
       'DEU', 'MEX', 'BRA', 'PHL', 'SWE', 'NLD', 'FIN', 'CHN', 'KEN'],
      dtype=object)

In [1326]:
#Here, I am cleaning up the age column for the candy dataframe. I am starting by using .unique so that I can see
#what values we have in the dataframe and which ones I need to target. Here, there seen to be quite a few letters and
#off values. 

dfc['How old are you?'].unique()

array(['22', '45', '48', '57', '42', '41', '47', '28', '44', '34', '46',
       '40', '31', '33', '35', '49', '16', '60', '30', '51', '38', '54',
       '43', '50', '37', '55', '58', '32', 'n/a', '64', '61', '65', '26',
       '36', '78', '39', '52', '29', '63', '50s', nan, '10', '62', '23',
       '20', '24', '17', '27', '53', '18', '13', '56', '66', '59', '25',
       '74', '19', '14', '79', '50+', '70', '68', '81', '12', '67', '11',
       '21', '71', '82', '15', '142', '7'], dtype=object)

In [1327]:
#First, I am converting all letters to lowercase so that it is easier to target them since they will all be the same
#case. 

dfc["How old are you?"] = dfc["How old are you?"].str.lower()

In [1328]:
#Here, I am locating sub-strings in main strings and replacing the main strings with values like "n/a". For values that 
#say "50+" or "55+", I am simply turning them into the states values of "50" or "55" so that there will be no calcula
#tion issues with this dataset if I leave in the pluses. They also did not specify a value above so, to stay safe I am 
#just stating the number already listed. Using .unique() at the end to check if my code worked. 


dfc.loc[dfc['How old are you?'].str.contains('old', na=False), 'How old are you?'] = 'n/a'
dfc.loc[dfc['How old are you?'].str.contains('1.00E+18', na=False), 'How old are you?'] = 'n/a'
dfc.loc[dfc['How old are you?'].str.contains('nixon', na=False), 'How old are you?'] = 'n/a'
dfc.loc[dfc['How old are you?'].str.contains('woman', na=False), 'How old are you?'] = 'n/a'
dfc.loc[dfc['How old are you?'].str.contains('haha', na=False), 'How old are you?'] = 'n/a'
dfc.loc[dfc['How old are you?'].str.contains('ancient', na=False), 'How old are you?'] = 'n/a'
dfc.loc[dfc['How old are you?'].str.contains('retirement', na=False), 'How old are you?'] = 'n/a'
dfc.loc[dfc['How old are you?'].str.contains('mama', na=False), 'How old are you?'] = 'n/a'
dfc.loc[dfc['How old are you?'].str.contains('1.00', na=False), 'How old are you?'] = 'n/a'
dfc.loc[dfc['How old are you?'].str.contains('55+', na=False), 'How old are you?'] = '55'
dfc.loc[dfc['How old are you?'].str.contains('50+', na=False), 'How old are you?'] = '50'

dfc['How old are you?'].unique()

array(['22', '45', '48', '57', '42', '41', '47', '28', '44', '34', '46',
       '40', '31', '33', '35', '49', '16', '60', '30', '51', '38', '54',
       '43', '50', '37', '55', '58', '32', 'n/a', '64', '61', '65', '26',
       '36', '78', '39', '52', '29', '63', nan, '10', '62', '23', '20',
       '24', '17', '27', '53', '18', '13', '56', '66', '59', '25', '74',
       '19', '14', '79', '70', '68', '81', '12', '67', '11', '21', '71',
       '82', '15', '142', '7'], dtype=object)

In [1330]:
#Replacing letters with the number in number form and etc. Using replace since for these, contains() does not really 
#impact how easy writing the code is. For the value "143", I put n/a since that didn't make sense and, for "over 40",
#I once again just stated the listed value to stay safe. Again used unique() to see if code worked. 

dfc["How old are you?"] = dfc["How old are you?"].str.replace('fifty.  nine.  ish.', '59')
dfc["How old are you?"] = dfc["How old are you?"].str.replace('blah', 'n/a')
dfc["How old are you?"] = dfc["How old are you?"].str.replace('49 11/12ths', '49')
dfc["How old are you?"] = dfc["How old are you?"].str.replace('23.2', '23')
dfc["How old are you?"] = dfc["How old are you?"].str.replace('0x2a', 'n/a')
dfc["How old are you?"] = dfc["How old are you?"].str.replace("over 40", '40')
dfc["How old are you?"] = dfc["How old are you?"].str.replace('142', 'n/a')


dfc['How old are you?'].unique()

array(['22', '45', '48', '57', '42', '41', '47', '28', '44', '34', '46',
       '40', '31', '33', '35', '49', '16', '60', '30', '51', '38', '54',
       '43', '50', '37', '55', '58', '32', 'n/a', '64', '61', '65', '26',
       '36', '78', '39', '52', '29', '63', nan, '10', '62', '23', '20',
       '24', '17', '27', '53', '18', '13', '56', '66', '59', '25', '74',
       '19', '14', '79', '70', '68', '81', '12', '67', '11', '21', '71',
       '82', '15', '7'], dtype=object)

## Dataset Preparation 2 - Attendance Data

In [1306]:
#Just printing first few values so I have an idea of what the dataset looks like and where the column names are located
#because of the fact that I already know that none of the columns have names. 

dfa.head(6)

,"Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,"Total elementary, secondary, and combined elem...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elementary schools,NaN,NaN,NaN,Secondary schools,NaN,NaN,NaN
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
2,1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
3,United States ........,93.1,(0.22),6.6,(0.02),180,(0.1),"1,193",(3.1),94.0,(0.27),6.7,(0.02),91.1,(0.43),6.6,(0.04)
4,Alabama .................,93.8,(1.24),7.0,(0.07),180,(0.8),"1,267",(12.3),93.8,(1.84),7.0,(0.08),94.6,(0.38),7.1,(0.17)
5,Alaska ..................,89.9,(1.22),6.5,(0.05),180,(3.4),"1,163",(22.9),91.3,(1.56),6.5,(0.05),93.2,(1.57),6.2,(0.15)

In [1307]:
#Here, I am just renaming the first column because I can already tell that it is already by state and the current 
#title is much too long. Header starts at index 0 so that I can reference the column names.

new_labels = ['State', 'Unnamed', 'Unnamed_2', 'Unnamed_3', 'Unnamed_4', 'Unnamed_5', 'Unnamed_6', 'Unnamed_7', 'Unnamed_8', 'Unnamed_9', 'Unnamed_10', 'Unnamed_11', 'Unnamed_12', 'Unnamed_13', 'Unnamed_14', 'Unnamed_15', 'Unnamed_16'] 

dfa = pd.read_csv("attendance.csv", #name of csv file
                 header=0,         #which indexed row in the file is the last header row this means rows 0..3 are headers
                 names=new_labels, encoding="latin1") #use the new_labels list for the column names. Notice there are no blanks

In [1308]:
#Looking at last few values to see if anything there will help me name the columns any further and to see if there is 
#anything I need to clean. From this, I can probably remove all of index[64]. There are also a few notes so we can 
#locate these inputs to help learn more about this data. 

dfa.tail()

,State,Unnamed,Unnamed_2,Unnamed_3,Unnamed_4,Unnamed_5,Unnamed_6,Unnamed_7,Unnamed_8,Unnamed_9,Unnamed_10,Unnamed_11,Unnamed_12,Unnamed_13,Unnamed_14,Unnamed_15,Unnamed_16
63,Wyoming .................,92.4,(1.15),6.9,(0.05),175,(1.3),"1,201",(8.3),92.2,(1.65),6.9,(0.05),92.4,(0.75),7.0,(0.07)
64,Not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,àReporting standards not met (too few cases).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NOTE: Averages reflect data reported by school...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1309]:
#Here, i am targeting one of the notes because I feel that it may be of use to me in deciphering the data. Seeing
#the full note makes me realize that the decimal data values (which appear in paretheses) are apparently Standard Error
#values. This helps me name the columns with no name hint.

dfa.loc[66,'State']

'NOTE: Averages reflect data reported by schools rather than state requirements. School-reported length of day may exceed state requirements, and there is a range of statistical error in reported estimates. Standard errors appear in parentheses. '

In [1310]:
#Here, based on the labels (which are placed in the wrong row), I am renaming the columns. Based on the note I just 
#saw, i now know what the decimal values mean (Standard error) and am naming them accordingly. I am also grouping
#the columns based on a) Secondary & Elementary (Total) values b) Elementary School Data or c) Secondary School Values.
#I am having header = 3 since row with index 3 is the row where actual data starts. The ones before are a mix of 
#NaNs and header names which I will no longer need after I rename the columns. 

new_labels = ['State', 'Total_ADA_Percentage', 'Total_Standard_Error_ADA', 'Total_Avg_School_Day_Hrs', 'Standard_Error_Total_Hrs/Day', 'Total_Avg_School_Days_Year', 'Standard_Error_Total_Days/Year', 'Total_Avg_School_Total_Hrs/Year', 'Standard_Error_Total_Hrs/Year', 'Elementary_ADA_Percentage', 'Elementary_Standard_Error_AD', 'Elementary_Avg_School_Day_Hrs', 'Standard_Error_Elementary_Hrs/Day', 'Secondary_ADA_Percentage', 'Secondary_Standard_Error_ADA', 'Secondary_Avg_School_Day_Hrs', 'Standard_Error_Secondary_Hrs/Day'] 

dfa = pd.read_csv("attendance.csv", #name of csv file
                 header=3,         #which indexed row in the file is the last header row this means rows 0..3 are headers
                 names=new_labels, encoding="latin1") #use the new_labels list for the column names. Notice there are

In [1311]:
#checking first few rows to make sure there are no problems after my last line of code. I use 15 as my # of rows just
#so I get a larger sample size than just 5. This is where I notice that there are full rows where the values are just 
#NaNs. This is a problem I will soon fix.

dfa.head(15)

,State,Total_ADA_Percentage,Total_Standard_Error_ADA,Total_Avg_School_Day_Hrs,Standard_Error_Total_Hrs/Day,Total_Avg_School_Days_Year,Standard_Error_Total_Days/Year,Total_Avg_School_Total_Hrs/Year,Standard_Error_Total_Hrs/Year,Elementary_ADA_Percentage,Elementary_Standard_Error_AD,Elementary_Avg_School_Day_Hrs,Standard_Error_Elementary_Hrs/Day,Secondary_ADA_Percentage,Secondary_Standard_Error_ADA,Secondary_Avg_School_Day_Hrs,Standard_Error_Secondary_Hrs/Day
0,United States ........,93.1,(0.22),6.6,(0.02),180.0,(0.1),"1,193",(3.1),94.0,(0.27),6.7,(0.02),91.1,(0.43),6.6,(0.04)
1,Alabama .................,93.8,(1.24),7.0,(0.07),180.0,(0.8),"1,267",(12.3),93.8,(1.84),7.0,(0.08),94.6,(0.38),7.1,(0.17)
2,Alaska ..................,89.9,(1.22),6.5,(0.05),180.0,(3.4),"1,163",(22.9),91.3,(1.56),6.5,(0.05),93.2,(1.57),6.2,(0.15)
3,Arizona .................,89.0,(2.95),6.4,(0.09),181.0,(1.7),"1,159",(14.4),88.9,(3.91),6.4,(0.10),89.0,(3.22),6.4,(0.25)
4,Arkansas ................,91.8,(1.35),6.9,(0.06),179.0,(0.2),"1,229",(10.7),92.1,(2.09),6.9,(0.08),90.8,(2.23),6.8,(0.10)
5,California ..............,93.2,(0.71),6.2,(0.07),181.0,(0.4),"1,129",(12.5),94.9,(0.75),6.3,(0.05),89.4,(1.45),6.1,(0.20)
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Colorado ................,93.9,(0.44),7.0,(0.05),171.0,(1.0),"1,199",(9.9),94.5,(0.45),7.0,(0.07),91.2,(1.28),7.0,(0.11)
8,Connecticut .............,87.9,(2.98),6.5,(0.09),181.0,(0.1),"1,173",(15.9),87.4,(3.98),6.5,(0.11),93.7,(0.68),6.5,(0.09)
9,Delaware ................,89.8,(1.75),6.7,(0.09),181.0,(0.8),"1,208",(18.7),89.4,(2.50),6.8,(0.06),à,( ),6.5,(0.23)
10,District of Columbia ....,91.2,(1.27),6.9,(0.21),181.0,(0.4),"1,256",(42.3),93.9,(0.38),6.9,(0.10),à,( ),à,( )
11,Florida .................,92.7,(0.74),6.4,(0.08),184.0,(1.2),"1,184",(18.8),94.0,(0.94),6.5,(0.05),89.9,(1.43),6.3,(0.38)
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Georgia .................,93.3,(1.28),6.8,(0.06),181.0,(1.0),"1,229",(12.4),93.9,(1.60),6.8,(0.06),93.1,(1.23),6.9,(0.09)
14,Hawaii ..................,90.7,(4.58),6.3,(0.10),179.0,(1.6),"1,118",(12.7),90.8,(2.63),6.2,(0.05),à,( ),à,( )

In [1312]:
#Here, I am dropping all rows which contain only NaNs. I noticed that there were certain rows with this problem (such 
#as row index 6) and this is an easy solution to the ocassional row breaks.
dfa.dropna(how='all', inplace=True)

In [1313]:
#Here, based on the note in tails which stated that "à" meant that "Reporting standards weren't met", I am now
#replacing all "à" synbols with an appropriate message. After looking through examples of the "à" variable in the set,
#I have noticed that the presence of the "à" means that the Standard Error is also blank so, I have left the same mes-
#sage for the empty parenthesis too.

dfa = dfa.replace('à', 'ReportingStandardsNotMet')
dfa = dfa.replace('(\xa0)', 'ReportingStandardsNotMet')

In [1314]:
#here, I am targeting a specific row which I know has the values I have just replaced. By locatng and printing
#the values, I am able to learn if my code has actually worked and has replaced the necessary values with 
#'ReportingStandardsNotMet'. Here, we can see that it has worked which means that it should work with every other 
#value of "à" in the dataframe.

dfa.loc[9, 'Secondary_ADA_Percentage']

'ReportingStandardsNotMet'

In [1315]:
#Again, checking previous line of code to make sure that empty parentheses have now been replaced. 
dfa.loc[9, 'Secondary_Standard_Error_ADA']

'ReportingStandardsNotMet'

In [1316]:
#Checking data just to see if any other changes need to be made in the notes.
dfa.tail()

,State,Total_ADA_Percentage,Total_Standard_Error_ADA,Total_Avg_School_Day_Hrs,Standard_Error_Total_Hrs/Day,Total_Avg_School_Days_Year,Standard_Error_Total_Days/Year,Total_Avg_School_Total_Hrs/Year,Standard_Error_Total_Hrs/Year,Elementary_ADA_Percentage,Elementary_Standard_Error_AD,Elementary_Avg_School_Day_Hrs,Standard_Error_Elementary_Hrs/Day,Secondary_ADA_Percentage,Secondary_Standard_Error_ADA,Secondary_Avg_School_Day_Hrs,Standard_Error_Secondary_Hrs/Day
60,Wyoming .................,92.4,(1.15),6.9,(0.05),175.0,(1.3),"1,201",(8.3),92.2,(1.65),6.9,(0.05),92.4,(0.75),7.0,(0.07)
61,Not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,àReporting standards not met (too few cases).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NOTE: Averages reflect data reported by school...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1317]:
#Here, I am removing the note which says "not applicable" because I see no use for this line. I do not learn any 
#new information and I don't believe that i need it. Also removed line which said "à" meant Reporting Standards not
#met because I already replaced all "à"'s from the Dataframe'. However, I left the other notes because I think that 
#they are important in order to understand/interpret the data and, the source is useful to give the data credibility. 

dfa.drop([61, 62], inplace=True)

In [1318]:
#Printing tail to make sure that all the rows I wanted to drop have been dropped. 
dfa.tail()

,State,Total_ADA_Percentage,Total_Standard_Error_ADA,Total_Avg_School_Day_Hrs,Standard_Error_Total_Hrs/Day,Total_Avg_School_Days_Year,Standard_Error_Total_Days/Year,Total_Avg_School_Total_Hrs/Year,Standard_Error_Total_Hrs/Year,Elementary_ADA_Percentage,Elementary_Standard_Error_AD,Elementary_Avg_School_Day_Hrs,Standard_Error_Elementary_Hrs/Day,Secondary_ADA_Percentage,Secondary_Standard_Error_ADA,Secondary_Avg_School_Day_Hrs,Standard_Error_Secondary_Hrs/Day
58,West Virginia ...........,94.0,(0.99),6.9,(0.07),182.0,(0.5),"1,251",(13.7),94.4,(1.32),6.9,(0.09),92.8,(0.41),6.8,(0.14)
59,Wisconsin ...............,95.0,(0.57),6.9,(0.04),180.0,(0.7),"1,246",(8.6),95.4,(0.41),6.9,(0.05),93.0,(1.91),7.0,(0.14)
60,Wyoming .................,92.4,(1.15),6.9,(0.05),175.0,(1.3),"1,201",(8.3),92.2,(1.65),6.9,(0.05),92.4,(0.75),7.0,(0.07)
63,NOTE: Averages reflect data reported by school...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1319]:
#Here, I am using info to check if I am done. Here, I can see that all columns have been adaquetely named, and, they
#all have the same number of entries in each column (excluding state because of the 2 remaining notes). This is a 
#huge contrast to the initial time I ran info so now, I think this means that I am done. 

dfa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 0 to 64
Data columns (total 17 columns):
State                                54 non-null object
Total_ADA_Percentage                 52 non-null float64
Total_Standard_Error_ADA             52 non-null object
Total_Avg_School_Day_Hrs             52 non-null float64
Standard_Error_Total_Hrs/Day         52 non-null object
Total_Avg_School_Days_Year           52 non-null float64
Standard_Error_Total_Days/Year       52 non-null object
Total_Avg_School_Total_Hrs/Year      52 non-null object
Standard_Error_Total_Hrs/Year        52 non-null object
Elementary_ADA_Percentage            52 non-null float64
Elementary_Standard_Error_AD         52 non-null object
Elementary_Avg_School_Day_Hrs        52 non-null float64
Standard_Error_Elementary_Hrs/Day    52 non-null object
Secondary_ADA_Percentage             52 non-null object
Secondary_Standard_Error_ADA         52 non-null object
Secondary_Avg_School_Day_Hrs         52 non-null object
Standard_Error_Secondary_Hrs/Day     52 non-null object
dtypes: float64(5), object(12)
memory usage: 7.6+ KB

## Conclusion

This lab was very tedious and took me a lot of time. Lik eprobably around 5+ hours since there was so much tedios work to be done. The most messy dataset I worked on was easily the Boing Boing Candy set. The attendance set was surprisingly fine and, I was able to clean up most, if not all of it. I though my methods of cleaning the columns and getting rid of NaN rows was very effective and I think I did a good job with that one. 

The Boing Boing set however, was a lot more work. I worked in the country and age columns and, I used replace() and contains() primarily throughout that dataset. My work was effective in that I did end up being able to clean it up however, the work was long and repetitive and I'm not 100% sure if my methods were the fastest way to get the job done. I am sure there are better and faster ways to work on those specific columns. 

In all, data cleaning was hard and this is probably the hardest lab we have done so far. I am very excited to move on from data cleaning because this was not as interesting as the other labs since the work was very repetitive and some of these data frames had a LOT of columns to work with. I am just glad I am not cleaning the whole Boing Boing Candy set.

## Acknowlegements

* I would like to thank Ms. Sconyers for posting the "Data Cleaning 101" jupyter notebook because that was very helpful throughout this lab and was where I got a lot of my code from. Class is also very helpful for figuring out what to do with the data.


* I would like to thank these sites for helping me find code:
    dropping columns:    https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html
    
    ignoring na vals in .contains(): https://stackoverflow.com/questions/51068498/valueerror-cannot-index-with-vector-containing-na-nan-values/51969304
    
    replacing strings with sub-strings: https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas
    
    help with .contains(): https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas
    
* I would also like to thank myself for not giving up even though this took me like 6 hours. 

* I would also like to thank Theo for putting me in his acknowlegements every time.